section(data-background="#B10DC9")
    h2 resources
    ul
        li
            a(href="https://developers.google.com/web/fundamentals/")
        li
            a(href="http://www.youtube.com/watch?v=xOAG7Ab_Oz0") going mobile with angular
        li
            a(href="http://www.youtube.com/watch?v=wVntVkRLR3M") angularJs and phoneGap
        li ngConf 2014 mobile
        li
            a(href="http://www.ng-newsletter.com/posts/angular-on-mobile.html") ngNewsletter - mobile
        li
            a(href="http://moduscreate.com/5-best-mobile-web-app-frameworks-ionic-angulalrjs/") mobile framework
        li
            a(href="https://github.com/DallanQ/ionic-angular-appgyver-seed") ionic + angular + appgyver seed
        li
            a(href="http://code.pen.io/ionic/public-list/") ionic examples