section(data-background="#FF851B")
    section
        h2.fragment.fade-in Who Am I?
    section
        h2 I'm a software engineer
        h2.fragment.fade-in(data-fragment-index="1") doing code since 2000
    section
        img(src="images/luciano-2006.jpg")
        h2 I started doing serious javascript stuff in 2007
    section
        img(src="images/mootools.jpg")
    section
        h2 Then I moved to architecture and Backend
    section
        div(style="background-color:#fff")
            img(src="images/zendframework.png")
        div(style="background-color:#fff")
            img(src="images/symfony.png")
    section
        h3 my first conference (as auditor)
        h3 was PHPDay, here in Verona
        h3 2012
    section
        h2 it changed my life
        div(style="background-color:#fff")
            img(src="images/phpday.png")
    section
        h2 the second one: march 2013
        div(style="background-color:#fff").fragment.fade-in
            img(src="images/codemotion.jpg")
    section
        h2 here I meet
        div(style="background-color:#fff").fragment.fade-in
            img(src="images/angularjs.png")
        h1.fragment.fade-in and was love!
    section
        h3 I started studying hard
        div(style="background-color:#fff").fragment.fade-in
            img(src="images/yeoman.png")
    section
        h3 in april I was in barcelona
        img(src="images/luciano-2013.jpg").fragment.fade-in
    section
        h3 doing it wrong
        div(style="background-color:#fff").fragment.fade-in
            img(src="images/silex.png")
    section
        h3 do you know this graph?
        img(src="images/rollercoaster.png").fragment.fade-in
    section
        h3 but then I was involved in
        img(src="images/namshi.jpg").fragment.fade-in
        img(src="images/rocket.jpg").fragment.fade-in
    section
        h3 I reached dubai
        img(src="images/weather.png").fragment.fade-in
    section
        h3 and with an inspiring lead
        div(style="background-color:#fff").fragment.fade-in
            img(src="images/lead.png")
    section
        h3 and an amazing team
        div(style="background-color:#fff").fragment.fade-in
            img(src="images/team.png")
    section
        h2 we did it!
        h3.fragment.fade-in the AngularJs version
            br
            | of the namshi mobile website
    section
        h3 in this talk I want to share with you
        h3 how we made Rocket Internet in Germany say
        h1.fragment.fade-in WOW!