section.red(data-background="#FF4136")
    h2 you should test
    ol
        li.fragment.fade-in test with real devices (even old ones)
        li.fragment.fade-in mobile safari remote debbugging
        li.fragment.fade-in mobile chrome remote debugging + batarang
        li.fragment.fade-in protractor
        li.fragment.fade-in
            a(href="https://saucelabs.com/") SauceLabs
        li.fragment.fade-in
            a(href="http://www.browserstack.com/") BrowserStack