section(data-background="#001F3F")
    section
        h2.fragment.fade-in Who are you?
    section
        h2 Question Time
        p.fragment.fade-in who knows angular?
        p.fragment.fade-in who use angular?
        p.fragment.fade-in who use angular for mobile?